*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    background: linear-gradient(170deg, rgba(36,175,219,1) 0%, rgba(36,148,219,1) 18%, 
        rgba(56,98,210,1) 37%, rgba(97,66,223,1) 57%, rgba(205,36,219,1) 73%, 
        rgba(247,94,213,1) 86%, rgba(217,144,193,1) 100%);
    padding: 50px 158px;
}
.container{
    display: flex;
    flex-direction: row;
}
.border{
    position: relative;
    height: 95%;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 1s ease;
}
.border:hover {
    opacity: 1;
}
.card {
    position: absolute;
    height: 322px;
    width: 288px;
    background: #808080;
    margin: 0 30px 30px 0;
    border-radius: 20px;
    transition: 0.8s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card0 {

    background: url(../img/profile.jpeg)
        center center no-repeat;
    background-size: 300px;
}
.card0:hover {
    background: url(../img/profile.jpeg)
        left center no-repeat;
    background-size: 600px;
}
.border__name{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}
.border__subname{
    position: absolute;
    color: #fff;
    height: 100px;
    bottom: 0px;
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}
.about__me{
    padding-left: 26%;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 10px #000;
    text-align: justify;
}
.about__me2{
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 10px #000;
    text-align: justify;
}
.about__me h3,.about__me2 h3{
    font-size: xx-large;
}
.list{
    list-style: circle inside;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 100%;
    max-width: 1200px;
    grid-gap: 24px;
}
.name{
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 10px #000;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 10px;
}
.project {
    position: relative;
    padding-bottom: 50%;
}
.project-background {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    border-radius: 24px;
    filter: brightness(.75) saturate(1.2) contrast(.85);
    transition: .3s;
}
.project-background img{
    max-width: 590px;
    border-radius: 20px;
}
.project-content {
    text-shadow: 2px 2px 10px black;
    position: absolute;
    padding: 24px;
    font-family: arial, sans-serif;
    color: white;
}
.project-content p {
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .9rem;
}
.project-content h3 {
    font-size: 1.9rem;
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}
.project:hover .project-background {
    transform: scale(1.05);
}
.projects:hover > .project:not(:hover) > .project-background {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}
:root {
    --bg: #dcdde1;     
    --color-icon: #535c6881;
    --social-icon1: #3f73e3;
    --social-icon2: #05c739;
    --social-icon3: #161616;  
    --social-icon4: #d61c73;
    --social-icon5: #ee1a1a;  
}
section {
    margin-top: 20px;
    width: 100%;
    height: 20vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: var(--bg);
    z-index: -10;
}
.icon-list {
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}
.icon-item {
    list-style: none
}
.icon-link {  
    display: inline-flex;
    font-size: 3rem;  
    text-decoration: none;  
    color: var(--color-icon);
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
}
.icon-link:hover {
    color: #fff;
}
.icon-link i {
    margin: auto;    
}
.icon-link::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
.icon-link:hover::before {  
    transform: scale(1);
}
.icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon1); 
}
.icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
}
.icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
}
.icon-item:nth-child(4) a:hover:before { 
    background: var(--social-icon4); 
}
.icon-item:nth-child(5) a:hover:before { 
    background: var(--social-icon5); 
}
@media(max-width:1440px){
    .border{
        width: 240px;
    }
    .border__subname{
        width: 100%;
    }
    .card{
        height: 379px;
        width: 260px;
    }
    .about__me2{
        padding-top: 15px;
    }
    .project-background img{
        max-width: 550px;
    }
}
@media(max-width: 1024px){
    body{
        padding: 30px;
    }
    .about__me{
        padding-left: 29%;
    }
    .about__me, .about__me2{
        font-size: 15px;
    }
    .project-background img{
        max-width: 470px;
    }
}
@media(max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about__me{
        margin-top: 54%;
        padding-left: 0%;
    }
    .about__me, .about__me2{
        font-size: 15px;
    }
    .project-background img{
        max-width: 340px;
    }
    .project-content h3, .project-content p{
        font-size: 15px;
    }
    section{
        height: 15vh;
    }
}
@media(max-width:425px){
    .card{
        margin: 0;
    }
    .about__me{
        margin-top: 104%;
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .project-background img{
        max-width: 360px;
    }
    .icon-link{
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }
}
@media(max-width: 375px){
    .card{
        height: 325px;
        width: 280px;
    }
    .project-background img{
        max-width: 310px;
    }
}
@media(max-width: 320px){
    .card{
        height: 265px;
        width: 200px;
    }
    .card0:hover{
        background-size: 435px;
    }
    .border{
        width: 180px;
        font-size: 12px;
    }
    .border__name{
        font-size: 25px;
    }
    .about__me h3, .about__me2 h3, .name{
        font-size: large;
    }
    .project-background img{
        max-width: 260px;
    }
    .icon-list{
        padding: 0;
    }
}